{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1 class="h2">edit page</h1>

<form action="{% url 'save_edit' %}" method="post">
    {% csrf_token %}
    <label class="h3">Title: </label>
    <input class="search form-control w-25" type="text" name="title" placeholder="enter a title please" value="{{ title }}">
    <br>
    <label class="h3">Markdown content:</label>
    <br>
    <textarea name="content" class="search w-75">{{ content }}</textarea>
    <br>
    <input type="submit" value="edit" class="btn btn-outline-primary btn-md">
</form>

{% endblock %}